body {
    display: grid;
    grid: auto-flow min-content / 1;
    grid-template-areas: 
                        "header"
                        "aside" 
                        "nav"
                        "main" 
                        "pies"
                        "footer";

    grid-gap: 1em;
    margin: 1em;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

nav {
    grid-area: nav; 
}

main {
    grid-area: main; 
}

footer{
    grid-area: footer; 
}

.pies {
    grid-area: pies;
    display: grid;
    grid: auto-flow max-content / repeat(12, 1fr);
    grid-gap: 0.5em;
}

.pies img {
    grid-column: span 12;
    width: 100%;
}

@media screen and (min-width: 475px) {
    body {
        grid: auto-flow min-content / 2fr 1fr;
        grid-template-areas: "header header"
                                " aside nav"
                                "main main"
                                "pies pies"
                                "footer footer"
                                ;
    }

    .pies img {
        grid-column: span 6;
    }
}


@media screen and (min-width: 768px) {
    body {
        grid: auto-flow min-content / 1fr 2fr;
        grid-template-areas: "header header"
                                " aside nav"
                                "main main"
                                "pies pies"
                                "footer footer"
                                ;
    }

    
    .pies img {
        grid-column: span 3;
    }
}