@media only screen and (min-width: 1024px){
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .large-3 {
        width: 23%;
    }

    .limited {
        max-width: 1024px;
        margin: auto;
    }

    nav li { width: auto}
    nav a { padding: .7rem 1rem;}
    nav  ul {display: flex; flex-wrap: wrap; }
    
}