html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-boz-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

header {
    background-color: #9b87b8;
}

header section {
    display: flex;
    align-items:center;
}

header h1, header h2 {
    margin: 0;
    color: white;
    font-weight: 300;
}

header h1 {
    font-size: 1.95rem;
}

header h2 {
    font-size: 1.05rem;
}

header img {
    height: 85px;
    margin-right: 20px;
}


button#hamburgerBtn {
    background: none;
    border: none;
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}

nav {background-color: #23cfa7;}
nav ul {margin: 0; padding: 0}
nav ul li {list-style: none}
nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav li.active { background-color: rgba(0, 0, 0,0.5) }
nav a:hover {background-color:rgba(0,0,0,0.2)}
nav ul { display: none;}
nav ul.open { display: block}


main img {
    width: 100%;
    height: auto;
}


main h1 {
    color : #9b87b8;
}

.column {
    margin-right: .5rem
}

.row {
    padding : 0 2vw;
    width: 100%; 
}

.row-flexed { 
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding : 0 2vw;
}

.labeled {
    position: relative;
    margin: 0 .2rem .2rem 0;
}
.labeled h6, .labeled p {
    position: absolute;
    background-color: rgba(255, 255, 255,0.7);
    margin: 0;
    width: 100%;
    padding: .3rem 1rem;
}

.labeled h6{
    top:0;
    font-size: 2rem;
    font-weight: 300;
}


.labeled p { 
    bottom: 0;
    font-weight: 700;
    color: #b00;
}


.small-6 { width: 47% }

.small-12 { width: 100%; }


footer {
    background-color: #9b87b8;
    font-size: 1.2rem;
}

footer h2 {
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
}
