/*Apply the following to all html elements by defautl*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Inherit value set in body*/
  }
  
  html {
      font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
  }